body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.books-title {
  text-align: center;
  background-color: lightgreen;
  padding-top: 10px;
}

.books-container {
  margin: auto;
  text-align: center;
  width: 1000px;
}

.book {
  padding: 15px;
  margin: 5px;
  width: 500px;
  height: 170px;
  background-color: lavender;
  vertical-align: middle;
}

.rank {
  float: left;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 3;
  position: absolute;
}

#create-outer-container {
  width: 710px;  
  margin: auto;
  margin-top: 40px;
}

#outer-container {
  width: 470px;  
  margin: auto;
  padding-top: 40px;
}

#outer-container2 {
  margin: 40px;
  text-align: center;
}

#side-bar {
  float: left;
  width: 200px;
  height: 100%;
  background-color: lightgrey;
  font-size: 20px;
  padding:10px;
}

.no-results {
  font-size: 50px;
  color: darkred;
}

.subtext {
  font-size: 20px;
  margin: auto;
  color: black;
}

.textbox {
  font-size: 36px;
  height: 55px;
  padding-top: 10px;
}

.select { 
  font-size: 36px;
  height: 60px;
  padding-top: 15px;
}

.box-label {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 15px;
  margin-bottom: -5px;
}

.btn {
  float: right;
  text-transform: uppercase;
  height: 60px;
  font-size: 30px;
  padding-top: 12px;
}

a:hover {
  color: white;
  text-decoration: none;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-right: 20px;
}

thead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#comment {
  font-size: 20px;
  width: 440px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.success {
  text-transform: uppercase;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}
